*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

/* MAIN */

.main-content{
    margin: 40px 0;
}

figure > img {
	display: block;
	width: 100%;
}

.col-4{
    flex-basis: calc((100% / 12) * 4);
}

.card-image {
    position: relative;
}

.heart-icon{
    position: absolute;
    top: -372px;
    left: 192px;
    font-size: 35px;
    background-color: white;
    padding: 0 5px;
}

/* debug */

.debug .col{
    background-color: aqua;
    padding: 20px;
}

.debug main [class^='col-']{
    border: 2px dashed black;
    padding: 20px;
}

.debug .header-page{
    background-color: #FF6900;
    min-height: 100px;
    padding: 20px;
}

.debug .main-content .col-2{
    background-color: blueviolet;
    padding: 20px;
}

.debug .footer-page{
    background-color: #1A1A1A;
    min-height: 100px;
    padding: 20px;
}