*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

/* MAIN */

.main-content{
    margin: 40px 0;
}

figure > img {
	display: block;
	width: 100%;
}

.col-4{
    flex-basis: calc((100% / 12) * 4);
}

.card-image {
    position: relative;
}

.heart-icon{
    position: absolute;
    top: 7px;
    left: 196px;
    font-size: 28px;
    background-color: white;
    padding: 0 5px;
}

.green-tag{
    position: absolute;
    top: 272px;
    left: 54px;
    padding: 2px 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #008000;
}

.position-left{
    position: absolute;
    left: 0px;
}

.red-tag{
    position: absolute;
    top: 272px;
    left: 0;
    background-color: #FF0000;
    padding: 2px 10px;
    font-size: 12px;
}

/* debug */

.debug .col{
    background-color: aqua;
    padding: 20px;
}

main [class^='col-']{
    border: 2px dashed black;
    padding: 20px;
}

.header-page{
    background-color: #FF6900;
    min-height: 100px;
    padding: 20px;
}

.debug .main-content .col-2{
    background-color: blueviolet;
    padding: 20px;
}

.footer-page{
    background-color: #1A1A1A;
    min-height: 100px;
    padding: 20px;
}